body {
  background-image: url("new.png");
}

#navbar-example2 {
  border-radius: 0 0 25px 25px;
  position: sticky;
}

.home_section {
}

.iconstop
{
  position: static;
  width: 1100px;
  margin-top:-10px;
  height: 600px;
  
}

.name {
   position: absolute;
  font-size: 39px;
  margin-top: 130px;
  margin-left: 505px;
  color: white;
}

.dev {
  position: absolute;
  margin-left: 505px;
  margin-top: 200px;
  font-size: 24px;
  width: 300px;
  color: white;
  font-family: "Times New Roman", Times, serif;


}

.orb1
{
  position: absolute;
  margin-left: 1100px;
  width: 110px;
  height: 60px;
  margin-top: -140px;
}
.projecticons
{
  width: 1400px;
  height: 800px;
  margin-top: 1200px;
}
.project_section {
  margin-top: 1000px;
  width: 150px;
  position: static;
  margin-bottom: 300px;
}

#scrollspyHeading2 {
  font-size: 28px;
  margin-bottom: 5px;
  margin-left: 990px;
  top: 1000px;
  padding-bottom: 40px;
  position: absolute;
  width: 1000px;
}

#projectcomment {
  margin-left: 580px;
  font-size: 16px;
  bottom: 0;
  width: 500px;
}
#carousel {
  margin-bottom: 0px;
  margin-left: 240px;
  width: 1000px;
  display: inline-block;
  top: -200px;
  bottom: -100px;
}

.carousel-caption {
  top: 150px;
  font-size: 15px;
  width: 420px;
  margin-left: 145px;
}
.carousel_item {
  height: 500px;
}
.project_label 
{
  top: -500px;
  width: 360px;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 30px;
}

.p_desc {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10px;
}

.project_cards {
  display: inline-flex;
  margin-top: -1200px;
  margin-bottom: 0px;
}

.card{
  background-image: url("projectsmall.png");


}
#p1 {
  width: 2000px;
  margin-left: 27px;
  height: 200px;
  top: -300px;
  background-image: url("projectsmall.png");

}
#p2 {
  width: 2000px;
  margin-left: 390px;
  height: 200px;
  top: -300px;
  background-image: url("projectsmall.png");

}
#p3 {
  width: 2000px;
  margin-left: 800px;
  height: 200px;
  top: -516px;
  background-image: url("projectsmall.png");

}
#p4 {
  width: 2000px;
  margin-left: 1180px;
  height: 200px;
  top: -732px;
}
#scrollspyHeading3 {
  margin-top: 350px;
  font-size: 28px;
  margin-bottom: 5px;
  margin-left: 880px;
  position: absolute;
}

.orb2
{
  position: absolute;
  margin-left: 1100px;
  width: 110px;
  height: 60px;
  margin-top: 340px;
}

.tutor_section {
  margin-top: -700px;
  margin-bottom: 600px;
}
#tutorcomment {
  margin-left: 545px;
  font-size: 16px;
  bottom: 0;
  width: 500px;
}

.tutorinfo {
  width: 890px;
  height: 500px;
  margin-bottom: 0;
  position: absolute;
  margin-left: -150px;
  margin-top: 340px;
}

.tutormodel {
  width: 630px;
  height: 350px;
  margin-left: 880px;
  position: absolute;
  margin-top: 740px;
}
.tutoricon
{
  position: absolute;
  width: 400px;
  height: 280px;
  margin-left: 580px;
  margin-top: 450px;
}
#projectex {
  font-family: "Times New Roman", Times, serif;
  font-size: 23px;
  position: absolute;
  margin-left: 990px;
  margin-top: 790px;
}

#learntex {
  font-family: "Times New Roman", Times, serif;
  font-size: 23px;
  position: absolute;
  margin-left: 1260px;
  margin-top: 790px;
}

.contact_section {
  margin-top: 1050px;
  margin-left: 330px;
  width: 850px;
  position: absolute;
  padding-bottom: 200px;
}
#scrollspyHeading4 {
  margin-top: 120px;
  margin-bottom: 270px;
  margin-left: 300px;
  font-size: 38px;
}

.contact {
  position: absolute;
  width: 670px;
  height: 400px;
  margin-top:-150px;
}

#footer {
  position: absolute;
  margin-top: 280px;
}
#email {
margin-top: -90px;
margin-bottom: 50px;
font-family: "Times New Roman", Times, serif;

}

.git {
  position: absolute;
  width: 20px;
  height: 20px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
