body
{
    background-image: url("new.png");
}

#navbar-example2{
    border-radius: 0 0 25px 25px;
    position:sticky;
}

.home_section
{

}

.name
{
    font-size: 50px;
    transform: rotate(385deg);
    margin-top: 465px;
    margin-left: 250px;
    
    
}

.dev
{
    margin-left: 180px;
    margin-top: -120px;
    transform: rotate(412deg);
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
}

.ui
{
    font-size:21px;
    margin-left:750px;
    margin-top:-95px;
    transform: rotate(375deg);
    font-family: 'Times New Roman', Times, serif;

}

.tutor
{
    margin-left:1110px;
    margin-top:-215px;
    font-size:22px;
    transform: rotate(363deg);
    font-family: 'Times New Roman', Times, serif;

}


.project_section
{
    margin-top: 500px;
    width: 150px;
    position: static;

}


#scrollspyHeading2
{
    margin-top: 620px;
    font-size:32px;
    margin-bottom: 5px;
    margin-left: 648px;
    width:1000px;
    font-family: 'Times New Roman', Times, serif;
}

#projectcomment
{
    margin-left:580px;
    font-size:16px;
    bottom: 0;
    width: 500px;
}
#carousel
{
margin-bottom: 0px;
margin-left: 45px;
width: 1400px;
display: inline-block;
top: -180px;
bottom: -100px;
}

.carousel-caption
{
    top: 250px;
    font-size: 15px;
    width: 420px;
    margin-left: 290px;
}
.carousel_item
{
    height: 500px;
}
.project_label
{
    top: -520px;
    width: 360px;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 30px;
}

.p_desc
{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.project_cards
{
    display:inline-flex;
    margin-top: -1200px;
    margin-bottom: 0px;
    

}

#p1
{
    width: 2000px;
    margin-left: 27px;
    height: 200px;
    top:-300px;

}
#p2
{
    width: 2000px;
    margin-left:87px;
    height: 200px;
    top:-300px;
}
#p3
{
    width: 2000px;
    margin-left: 800px;
    height: 200px;
    top:-516px;
}
#p4
{
    width: 2000px;
    margin-left: 1180px;
    height: 200px;
    top:-732px;
}
#scrollspyHeading3
{
    margin-top: 350px;
    font-size:32px;
    margin-bottom: 5px;
    margin-left: 545px;
    font-family: 'Times New Roman', Times, serif;
}

.tutor_section
{
    margin-top:-700px;
}
#tutorcomment
{
    margin-left:545px;
    font-size:16px;
    bottom: 0;
    width: 500px;
}

.tutorinfo
{
    width: 990px;
    height: 550px;
    margin-bottom:0;
    position:absolute;
    margin-left: 250px;
    margin-top:-40px
}

.tutormodel
{
    width: 900px;
    height: 500px;
    margin-left:290px;
    position: absolute;
    margin-top:280px;
}

#projectex
{
    font-family: 'Times New Roman', Times, serif;
    font-size:23px;
    position: absolute;
    margin-left: 480px;
    margin-top: 400px;
}

#learntex
{
    font-family: 'Times New Roman', Times, serif;
    font-size:23px;
    position: absolute;
    margin-left:860px;
    margin-top: 400px;
}

.contact_section
{
    margin-top:1050px;
    margin-left: 330px;
    width: 850px;
    position: absolute;
    padding-bottom:200px
}
#scrollspyHeading4
{
    margin-top:-20px;
    margin-bottom: 270px;
    margin-left:295px;
}

.sketch2
{
    position:absolute; 
    width: 450px;
    margin-top:-530px;
    margin-left:190px;
    height: 250px;
}
#contactme
{
    padding-top:20px;
    padding-bottom:20px;
}
#footer
{
    position:absolute;
    margin-left:300px;
    margin-top:150px;
}
#email
{
    margin-top:20px;
}

.git
{
    position: absolute;
    width: 20px;
    height: 20px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }