body
{
    background-image: url("home\ main.png");
}

#navbar-example2{
    border-radius: 0 0 25px 25px;
}

.home_section
{

}

.name
{
    font-size: 50px;
    transform: rotate(385deg);
    margin-top: 465px;
    margin-left: 250px;
    
    
}

.dev
{
    margin-left: 180px;
    margin-top: -120px;
    transform: rotate(412deg);
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
}

.ui
{
    font-size:21px;
    margin-left:750px;
    margin-top:-95px;
    transform: rotate(375deg);
    font-family: 'Times New Roman', Times, serif;

}

.tutor
{
    margin-left:1110px;
    margin-top:-215px;
    font-size:22px;
    transform: rotate(363deg);
    font-family: 'Times New Roman', Times, serif;

}


.project_section
{
    margin-top: 400px;
    background-image: url("project.jpg");
    width: 1350px;
    position: static;
    display: flex;
    

}

#carousel
{
margin-bottom: 0px;
}

.carousel-caption
{
    top: 215px;
    font-size: 15px;
    width: 420px;
    margin-left: 230px;
}
.carousel_item
{
    height: 500px;
}
.project_label
{
    top: -550px;
    width: 360px;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 30px;
}

.p_desc
{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 70px;
}